.navbar {
  background-color: black;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
/*
.row {
  width: 100%;
} */

#navbar-menu-button {
  background-color: red;
  font-size: 20px;
  /* text-align: center; */
}

#navbar-menu-button li {
  border-bottom: 1px black solid;
}

#navbar-menu-button li:nth-child(3) {
  border-bottom: none;
}

#page-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* #content {
  background-color: yellow;
  height: 1000px;
  margin-top: 50px;
} */

.menu-item-container {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.menu-item {
  position: relative;
  border: 1px black solid;
  padding: 25px;
}

.section-title {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid black;
  width: 5em;
  text-align: center;
  float: right;
}
